*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:#000;

font-family:'Montserrat',sans-serif;

overflow-x:hidden;

}


.landing{

width:100%;

max-width:600px;

margin:auto;

background:#000;

}


/*=====================================
        RECURSO6 + LOGO
======================================*/


.portada{

position:relative;

width:100%;

height:100px;

overflow:hidden;

background:#000;

}


.fondo-logo{

width:100%;

height:100%;

object-fit:cover;

object-position:center 7%;

display:block;

}


.logo{

position:absolute;

width:35%;

top:50%;

left:50%;

transform:translate(-50%,-50%);

z-index:2;

}

/*=====================================
        RECURSOS 1-4
======================================*/


.recursos-cuatro{

width:100%;

display:flex;

align-items:center;

justify-content:center;

overflow:visible;

}


.recursos-cuatro img{

width:25%;

display:block;

border-radius:18px;

}


.recursos-cuatro img:nth-child(1),
.recursos-cuatro img:nth-child(3){

transform:translateY(-14px);

}


.recursos-cuatro img:nth-child(2),
.recursos-cuatro img:nth-child(4){

transform:translateY(14px);

}


/*=====================================
        IMAGENES GENERALES
======================================*/


.imagen-completa{

width:100%;

display:block;

}


/*=====================================
        TAMAÑOS ESPECIALES
======================================*/

/* RECURSO11 Y RECURSO16 */

.imagen-r11{

    width:60%;

    display:block;

    margin:auto;

}


/* RECURSO12 Y RECURSO17 */

.imagen-r12{

    width:60%;

    display:block;

    margin:auto;

}

/* RECURSO17 */

.imagen-r17{

    width:50%;

    display:block;

    margin:auto;

}

/*=====================================
        ZONA PUNTEADA
======================================*/


.bloque-punteado{

    position:relative;

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}



.fondo-punteado{

    width:75%;

    display:block;

}



.bloque-punteado .imagen-r12{

    position:absolute;

    width:45%;

    left:50%;

    top:50%;

    transform:translate(-50%,-50%);

}


/*=====================================
        EVENTO
======================================*/

.evento{

position:relative;

width:100%;

}


.evento-fondo{

width:100%;

display:block;

}


.evento-logo{

position:absolute;

width:10%;

top:60%;

left:50%;

transform:translate(-50%,-50%);

}

.evento-fecha{

position:absolute;

width:90%;

top:80%;

left:50%;

transform:translateX(-50%);

}


/*=====================================
        CELULAR
======================================*/

@media(max-width:768px){


.logo{

width:55%;

}



.evento-logo{

width:10%;

}



.evento-fecha{

width:75%;

}



/* Recurso11 y Recurso16 */

.imagen-r11{

width:40%;

}



/* Recurso17 */

.imagen-r12{

width:55%;

}

.imagen-r17{

    width:50%;

}

/* Recurso12 dentro de zona punteada */

.bloque-punteado .imagen-r12{

width:65%;

}



}
