*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:#000;

font-family:'Montserrat',sans-serif;

overflow-x:hidden;

}



.landing{

width:100%;

max-width:600px;

margin:auto;

background:#000;

}



/*=====================================
        RECURSO6 + LOGO
======================================*/


.portada{

    position:relative;

    width:100%;

    height:100px;

    overflow:hidden;

    background:#000;

}



/* Fondo Recurso6 */

.fondo-logo{

    width:100%;

    height:100%;

    object-fit:cover;

    object-position:center 7%;

    display:block;

}



/* Logo encima */

.logo{

    position:absolute;

    width:35%;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    z-index:2;

}




/*=====================================
        RECURSOS 1-4
======================================*/


.recursos-cuatro{

    width:100%;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:0;

    overflow:visible;

}



.recursos-cuatro img{

    width:25%;

    display:block;

    border-radius:18px;

}



/* Recurso1 y Recurso3 arriba */

.recursos-cuatro img:nth-child(1),
.recursos-cuatro img:nth-child(3){

    transform:translateY(-14px);

}



/* Recurso2 y Recurso4 abajo */

.recursos-cuatro img:nth-child(2),
.recursos-cuatro img:nth-child(4){

    transform:translateY(14px);

}




/*=====================================
        IMAGENES COMPLETAS
======================================*/


.imagen-completa{

width:100%;

display:block;

}


/*=====================================
        BLOQUES CON ZONA PUNTEADA
======================================*/


.bloque-punteado{

    position:relative;

    width:100%;

}



.fondo-punteado{

    width:100%;

    display:block;

}



.imagen-dentro{

    position:absolute;

    width:100%;

    top:0;

    left:0;

    z-index:2;

}


/*=====================================
        EVENTO
======================================*/


.evento{

position:relative;

width:100%;

}



.evento-fondo{

width:100%;

display:block;

}



.evento-logo{

position:absolute;

width:10%;

top:50%;

left:50%;

transform:translateX(-50%);

}



.evento-fecha{

position:absolute;

width:55%;

bottom:10%;

top:80%;

left:50%;

transform:translateX(-50%);

}





/*=====================================
        CELULAR
======================================*/


@media(max-width:768px){


.logo{

width:55%;

}


.evento-logo{

width:20%;

}


.evento-fecha{

width:65%;

}


}
